<!-- Mobile menu toggle button (hamburger/x icon) -->
<input id="main-menu-state" type="checkbox" />
<label class="main-menu-btn" for="main-menu-state">
  <span class="main-menu-btn-icon"></span> Переключити видимість головного меню
</label>
<!-- the actual menu -->
<ul id="main-menu" class="sm sm-mint sm-vertical">
  <li><a href="index.html">Головна</a></li>
  
  {{html-menu}}
  
  <li><a href="#">Швидкі посилання</a>
    <ul class="mega-menu">
      <li><a href="\{\{ 'index.html' | relative_url \}\}">Домашня Сторінка</a></li>
      <li><a href="\{\{ 'glossary.html' | relative_url \}\}">Словник</a></li>
      <li><a href="\{\{ 'changelog.html' | relative_url \}\}">Історія змін</a></li>
      <li><a href="\{\{ 'pattern-index.html' | relative_url \}\}" title="Алфавітний список всіх патернів."><img src="\{\{ 'icons/list-ul.svg' | relative_url \}\}" class="icon" alt="site index" />&nbsp;Список Патернів</a></li>
      <li><a href="\{\{ 'map.html' | relative_url \}\}" title="Використовуйте карту патерну для переходу до іншого патерну."><img src="\{\{ 'icons/map.svg' | relative_url \}\}" class="icon" alt="site map" />&nbsp;Мапа</a></li>
      <li><span id="annotate-span"><a href="" id="annotate-link" title="Анотуйте цю сторінку за допомогою hypothes.is. Натисніть тут, зачекайте, поки сторінка перезавантажиться, після чого ви зможете виділити текст і додати публічні коментарі. Вам потрібно створити безкоштовний обліковий запис на сайті hypothes.is."><img src="\{\{ 'icons/comments-alt.svg' | relative_url \}\}" class="icon" alt="annotate page" />&nbsp;Анотувати сторінку</a></span></li>
      <li><a href="https://sociocracy30.org/resources/#se-practical-guide">Завантаження</a></li>
      <li><a href="https://sociocracy30.org">Сайт Соціократія 3.0</a></li>
    </ul>
  </li>
</ul>




